@model Assignment_2.ViewModels.ProductViewModel

<h1>Add New Product</h1>

<div class="border border-2 rounded rounded-2 w-75 m-auto p-3">
    <form method="post" action="\Product\AddSave">

        <div class="mb-3">
            <label class="form-label">Product Name</label>
            <input type="text" name="Product.ProductName" value="@Model.Product.ProductName" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Price</label>
            <input type="text" name="Product.ProductPrice" value="@Model.Product.ProductPrice" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Description</label>
            <input type="text" name="Product.Description" value="@Model.Product.Description" class="form-control" />
        </div>

        <div class="mb-3">
            <label class="form-label">Category</label>
            <select name="Product.CategoryId" class="form-select">
                @foreach (var c in Model.Categories)
                {
                    <option value="@c.Id">@c.CategoryName</option>
                }
            </select>
        </div>

        <div class="m-auto text-center">
            <input type="submit" class="btn btn-primary" />
        </div>
    </form>
</div>
